body {
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 16px;
  color: #6D6D6D;
  background-color: #F5F5F5;
  font-weight: 300;
}

nav {
  font-weight: normal;
  position: static;
  padding: 10px 0 7px 0;
  font-size: 0.843em;
}

nav ul li {
  text-align: center;
}

#cover {
  display: block;
  position: relative;
  background-image: url("couverture.jpg");
  width:100%;
  height: 40em;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(25%) blur(0.5px);
  -webkit-filter: brightness(25%) blur(0.5px);
  -moz-filter: brightness(25%) blur(0.5px);
  -o-filter: brightness(25%) blur(0.5px);
  -ms-filter: brightness(25%) blur(0.5px);
}

#avatar {
  background-image: url("theo.jpg");
  width: 220px;
  height: 220px;
  position: relative;
  bottom: 35em;
  z-index: 1;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  margin: 0 auto;
  box-shadow: inset 0 0 0 0 rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
}

.titles h1 {
  text-align: center;
  color: white;
  position: relative;
  bottom: 450px;
  font-family: Pacifico;
  font-weight: 300;
  font-size: 3.5em;
}

.titles h2 {
  text-align: center;
  color: white;
  position: relative;
  bottom: 450px;
}

#icon-bottom {
  font-size: 50px;
  color: #999999;
  position: relative;
  bottom: 450px;
  position: relative;
  left: 11em;
  top: -8.5em;
}

.about {
  position: relative;
  top: -22.5em
}

.about h1 {
  font-weight: 700;
  font-size: 57px;
  letter-spacing: -5px;
  line-height: 50px;
  color: #373432;
}

.border {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background-color: #999999;
}

.about p {
  color: #777777;
  font-size: 20px;
  line-height: 30px;
}

.presentation {
  position: relative;
  top: -18em;
}

.img-about {
  float: left;
  width: 49%;
}

.img-panda {
  width: 100%;
  height: 100%;
}

.about-titles {
  color: #373432;
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: -15px;
}

.text-about {
  color: #797979;
  font-size: 91%;
  padding-bottom: 5px;
}

a.mt-button {
  border-radius: 3px;
  letter-spacing: 0;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.outline {
  line-height: 10px;
  border: 2px solid #222222;
  padding: 15px;
}

.outline:hover {
  background-color: #222222;
  color: #FFF;
}

#img-toupie {
  background-image: url("toupie.jpg");
  height: 40em;;
  width: 100%;
  margin-top: 220px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
}

#img-toupie h1 {
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 100px;
}

#img-toupie p {
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
}

.img-border {
  height: 2px;
  width: 100px;
  color: #ffffff;
  margin: 0 auto;
  position: relative;
  bottom: 100px;
}

#icon-group {
  margin-left: 110px;
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}

.number {
  margin-left: 105px;
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
}

.resume h1 {
  font-weight: 700;
  font-size: 57px;
  letter-spacing: -5px;
  line-height: 50px;
  color: #373432;
  padding-top: 60px;
}
